<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/coswg1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">coswg1</property>
    <property name="hibernate.connection.password">coswg10215</property>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Categorias"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Franquicias"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Combos"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.MetodosDePago"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.PlazoletaComidasId"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.AlimentosId"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.CombosId"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Clientes"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Productos"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Pagos"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Pedidos"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.ProductosId"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Alimentos"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Sucursales"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.PlazoletaComidas"/>
  </session-factory>
</hibernate-configuration>
