<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/coswg1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">coswg1</property>
    <property name="hibernate.connection.password">coswg10215</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Categoria"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Franquicia"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Combo"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.MetodoDePago"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.PlazoletaComidaId"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.AlimentoId"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.ComboId"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Cliente"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Producto"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Pago"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Pedido"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.ProductoId"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Alimento"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.Sucursale"/>
    <mapping class="edu.eci.cosw.persistenceexercises.simplepersistencelayer.PlazoletaComida"/>
  </session-factory>
</hibernate-configuration>
